.env.*.php
.env.php
.env
.env.backup
/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
\.vs/
public/cache/steam/*steam_applist.json
.serenata/
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
